
html {
    height: 100%;
    width: 100%;
}
/* background for navbar */
.navbar {
    background-color: rgba(126, 143, 159, 0.514);
  }


/* Lining up the navagation links */
ul {
display: flex;
flex-direction: row;
justify-content: center;
list-style:none;
}

.btn {

    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
   /* border: none;*/
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
a {
    text-decoration: none;
    color:aqua
}

/* Added Background Image to Landing Page */
body {
  background-image: url(../images/background-Image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position:absolute;
  top:0; bottom:0; right:0; left:0;
}

header {
    width: 100%;
    height: 20%;
    background-color: rgba(200, 0, 0, 0.5); /* Temporary (helps determine size/location) */
    text-align: center;
}

.PageLinks {
    width: 100%;
    height: 5%;
    background-color: rgba(200, 200, 0, 0.5); /*Temporary (helps determine size/location)*/
    text-align: center;
}



/*Body*/
.CenterPage {
    /*  */
    width: 75%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 0 0 5px 5px; */
}



footer  {
    display: flex;
    flex-direction: row;
    justify-content: center;
      width: 75%;
     height: 30%;
     margin: auto;
     background-color: rgba(126, 143, 159, 0.514);
    color: blueviolet;
 }

      .one {
         width:  33%;
         /* height: 200px; */
         /* margin-right: 15px; */
         /* background: white; */
         text-align: center;
     }

     .contactlinks {
        display: flex;
        justify-content: center;
        padding: auto;
        list-style: none;
     }

     .two {
         width: 33%;
         /* height: 100px; */
         /* margin-right: 15px; */
         /* background:white; */
         text-align: center;
     }

     .three {
         width: 33%;
         /* height: 100px; */
         /* background:white; */
         text-align: center;
         /* float: right; */
     }

